<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Prueba Logyca</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="nprimes" class="nav-link">Primeros n Primos</a>
      </li>
      <li class="nav-item">
        <a routerLink="npairs" class="nav-link">Primeros n Pares</a>
      </li>
      <li class="nav-item">
        <a routerLink="nprimesdb" class="nav-link"> Primeros n Primos (DB)</a>
      </li>
      <li class="nav-item">
        <a routerLink="npairsdb" class="nav-link">Primero n pares (DB)</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

